@import "~@angular/material/theming";

@include mat-core();
@import "./theme.scss";
@include angular-material-theme($theming-material-components-theme);

.dark-theme {
  @include angular-material-color($dark-theme);
}

@include angular-material-typography($typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}